/* Chase Kinard */


:root {

    /* Title */
    /* --title-size: 10vh; */

    /* Grid */
    --ncols: 6;
    --nrows: 5;
    --layout-cols: repeat(var(--ncols), min-content);
    --layout-rows: repeat(var(--nrows), min-content);
    --grid-size: 60vh;
    --grid-cell-size: calc((var(--grid-size) / max(var(--ncols), var(--nrows))) - var(--grid-gap-size));
    --grid-font-size: 5vmin;
    --grid-gap-size: 5px;

    /* Keyboard */
    --keyboard-size: 25vh;
    --keyboard-gap-size: 5px;
    --keyboard-key-size: calc((var(--keyboard-size) / 3) - var(--keyboard-gap-size));
}


/* Core */
body {
    display: flex;
    background-color: black;
    justify-content: center;    /* Horizontal */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    height: 100vh;
    width: 100vw;
    margin: 0;
}


.container {
    justify-content: center;
}
.text-item {
    background-color: lightgray;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}
.g { background-color: lightgreen; }
.y { background-color: yellow; }
.r { background-color: lightcoral; }

/* Title */
.title {
    display: flex;
    height: min-content;
    width: 100vw;
    font-size: 10vmin;
    color: black;
    animation: neon-text 10s infinite alternate;
}


/* Grid */
.grid {
    display: grid;
    grid-template: var(--layout-cols) / var(--layout-rows);
    gap: var(--grid-gap-size);
    height: var(--grid-size);
}
.grid * {
    display: flex;
    height: var(--grid-cell-size);
    width: var(--grid-cell-size);
    font-size: calc(var(--grid-cell-size) * 0.6);
}


/* Keyboard */
.keyboard {
    height: var(--keyboard-size);
    width: 100vw;
}
.keyboard .row {
    display: flex;
    height: min-content;
}
.keyboard .row .key {
    display: inline-flex;
    height: var(--keyboard-key-size);
    width: var(--keyboard-key-size);
    font-size: calc(var(--keyboard-key-size) * 0.6);
    margin: calc(var(--keyboard-gap-size) / 2);
}
.keyboard .row .wide {
    min-width: min-content;
    width: calc((1.5 * var(--keyboard-key-size)) + 2.5px);
}


/* Text Effects */
@keyframes neon-text {
    0% {
        text-shadow: 
            0 0 5px lightcoral,
            0 0 10px lightcoral,
            0 0 15px lightcoral,
            0 0 30px lightcoral,
            0 0 40px lightcoral,
            0 0 50px lightcoral;
    }
    25% {
        text-shadow: 
            0 0 5px yellow,
            0 0 10px yellow,
            0 0 15px yellow,
            0 0 30px yellow,
            0 0 40px yellow,
            0 0 50px yellow;
    }
    50% {
        text-shadow: 
            0 0 10px lightgreen,
            0 0 20px lightgreen,
            0 0 30px lightgreen,
            0 0 40px lightgreen,
            0 0 45px lightgreen,
            0 0 50px lightgreen;
    }
    75% {
        text-shadow: 
            0 0 5px lightskyblue,
            0 0 10px lightskyblue,
            0 0 15px lightskyblue,
            0 0 30px lightskyblue,
            0 0 40px lightskyblue,
            0 0 50px lightskyblue;
    }
    100% {
        text-shadow: 
            0 0 5px violet,
            0 0 10px violet,
            0 0 15px violet,
            0 0 30px blue,
            0 0 40px blue,
            0 0 50px blue;
    }
}

@keyframes neon-border {
    from {
        box-shadow: 
            0 0 5px white,
            0 0 10px white,
            0 0 15px white,
            0 0 30px blueviolet,
            0 0 40px blueviolet,
            0 0 50px blueviolet;
    }
    to {
        box-shadow: 
            0 0 10px white,
            0 0 20px white,
            0 0 30px white,
            0 0 40px blueviolet,
            0 0 45px blueviolet,
            0 0 50px blueviolet;
    }
}